flows.json
[
  {
    "id": "tab_iot_lab",
    "type": "tab",
    "label": "IoT Lab - Power Monitor",
    "disabled": false,
    "info": "Simula dati sensore, calcola potenza, valuta soglia e pubblica su MQTT."
  },
  {
    "id": "ui_tab_iot_lab",
    "type": "ui_tab",
    "name": "IoT Lab",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "ui_group_power",
    "type": "ui_group",
    "name": "Monitor Potenza",
    "tab": "ui_tab_iot_lab",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false,
    "className": ""
  },
  {
    "id": "ui_group_status",
    "type": "ui_group",
    "name": "Stato Impianto",
    "tab": "ui_tab_iot_lab",
    "order": 2,
    "disp": true,
    "width": "12",
    "collapse": false,
    "className": ""
  },
  {
    "id": "ui_group_tapo_control",
    "type": "ui_group",
    "name": "Tapo Lampadina",
    "tab": "ui_tab_iot_lab",
    "order": 3,
    "disp": true,
    "width": "12",
    "collapse": false,
    "className": ""
  },
  {
    "id": "ui_group_tapo_status",
    "type": "ui_group",
    "name": "Tapo Stato",
    "tab": "ui_tab_iot_lab",
    "order": 4,
    "disp": true,
    "width": "12",
    "collapse": false,
    "className": ""
  },
  {
    "id": "mqtt_broker_local",
    "type": "mqtt-broker",
    "name": "Mosquitto Local",
    "broker": "mosquitto",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "tab_tapo_lab",
    "type": "tab",
    "label": "Tapo Lab - Lampadina",
    "disabled": false,
    "info": "Controllo reale lampadina Tapo L530: on/off, brightness, stato dashboard e publish MQTT."
  },
  {
    "id": "inject_sensor_tick",
    "type": "inject",
    "z": "tab_iot_lab",
    "name": "Tick sensore ogni 5s",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "5",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "iot/lab/sensor/tick",
    "payload": "",
    "payloadType": "date",
    "x": 170,
    "y": 120,
    "wires": [
      [
        "fn_generate_sensor_data"
      ]
    ]
  },
  {
    "id": "fn_generate_sensor_data",
    "type": "function",
    "z": "tab_iot_lab",
    "name": "Genera valori sensori random",
    "func": "const voltage = 220 + (Math.random() * 20 - 10);\nconst current = 2 + Math.random() * 8;\nconst powerFactor = 0.75 + Math.random() * 0.2;\n\nmsg.payload = {\n  voltage_v: Number(voltage.toFixed(2)),\n  current_a: Number(current.toFixed(2)),\n  power_factor: Number(powerFactor.toFixed(2)),\n  timestamp: new Date().toISOString()\n};\nmsg.topic = \"iot/lab/sensor/reading\";\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 450,
    "y": 120,
    "wires": [
      [
        "fn_calculate_power",
        "mqtt_out_raw",
        "fn_build_raw_text"
      ]
    ]
  },
  {
    "id": "fn_build_raw_text",
    "type": "function",
    "z": "tab_iot_lab",
    "name": "Testo dati raw",
    "func": "const p = msg.payload || {};\nconst ts = p.timestamp ? String(p.timestamp).slice(11, 19) : \"--:--:--\";\nmsg.payload = `RAW V=${p.voltage_v} I=${p.current_a} PF=${p.power_factor} @${ts}`;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 730,
    "y": 20,
    "wires": [
      [
        "ui_text_raw"
      ]
    ]
  },
  {
    "id": "fn_calculate_power",
    "type": "function",
    "z": "tab_iot_lab",
    "name": "Calcola potenza",
    "func": "const data = msg.payload || {};\nconst voltage = Number(data.voltage_v || 0);\nconst current = Number(data.current_a || 0);\nconst pf = Number(data.power_factor || 0);\n\nconst apparentPower = voltage * current;\nconst activePower = apparentPower * pf;\nconst reactivePower = Math.sqrt(Math.max((apparentPower * apparentPower) - (activePower * activePower), 0));\n\nmsg.payload = {\n  voltage_v: voltage,\n  current_a: current,\n  power_factor: pf,\n  apparent_power_va: Number(apparentPower.toFixed(2)),\n  active_power_w: Number(activePower.toFixed(2)),\n  reactive_power_var: Number(reactivePower.toFixed(2)),\n  timestamp: data.timestamp || new Date().toISOString()\n};\nmsg.topic = \"iot/lab/power/metrics\";\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 700,
    "y": 120,
    "wires": [
      [
        "mqtt_out_metrics",
        "switch_power_threshold",
        "change_active_power_value",
        "change_voltage_value",
        "fn_build_detail_text"
      ]
    ]
  },
  {
    "id": "mqtt_out_raw",
    "type": "mqtt out",
    "z": "tab_iot_lab",
    "name": "Pubblica dati raw MQTT",
    "topic": "iot/lab/power/raw",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "application/json",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt_broker_local",
    "x": 730,
    "y": 60,
    "wires": []
  },
  {
    "id": "mqtt_out_metrics",
    "type": "mqtt out",
    "z": "tab_iot_lab",
    "name": "Pubblica metriche MQTT",
    "topic": "iot/lab/power/metrics",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "application/json",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt_broker_local",
    "x": 1000,
    "y": 60,
    "wires": []
  },
  {
    "id": "switch_power_threshold",
    "type": "switch",
    "z": "tab_iot_lab",
    "name": "Verifica soglia potenza",
    "property": "payload.active_power_w",
    "propertyType": "msg",
    "rules": [
      {
        "t": "gte",
        "v": "800",
        "vt": "num"
      },
      {
        "t": "lt",
        "v": "800",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 990,
    "y": 120,
    "wires": [
      [
        "change_status_high",
        "fn_build_alarm_event"
      ],
      [
        "change_status_ok"
      ]
    ]
  },
  {
    "id": "fn_build_alarm_event",
    "type": "function",
    "z": "tab_iot_lab",
    "name": "Crea evento allarme",
    "func": "const p = msg.payload || {};\nmsg.topic = \"iot/lab/power/alarm\";\nmsg.payload = {\n  severity: \"high\",\n  threshold_w: 800,\n  active_power_w: p.active_power_w,\n  voltage_v: p.voltage_v,\n  current_a: p.current_a,\n  power_factor: p.power_factor,\n  timestamp: p.timestamp || new Date().toISOString(),\n  message: \"ATTENZIONE: potenza sopra soglia\"\n};\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1260,
    "y": 60,
    "wires": [
      [
        "mqtt_out_alarm",
        "fn_build_alarm_text"
      ]
    ]
  },
  {
    "id": "fn_build_alarm_text",
    "type": "function",
    "z": "tab_iot_lab",
    "name": "Testo ultimo allarme",
    "func": "const p = msg.payload || {};\nconst ts = p.timestamp ? String(p.timestamp).slice(11, 19) : \"--:--:--\";\nmsg.payload = `ALLARME P=${p.active_power_w}W @${ts}`;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1540,
    "y": 20,
    "wires": [
      [
        "ui_text_alarm"
      ]
    ]
  },
  {
    "id": "mqtt_out_alarm",
    "type": "mqtt out",
    "z": "tab_iot_lab",
    "name": "Pubblica allarme MQTT",
    "topic": "iot/lab/power/alarm",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "application/json",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt_broker_local",
    "x": 1540,
    "y": 60,
    "wires": []
  },
  {
    "id": "change_status_high",
    "type": "change",
    "z": "tab_iot_lab",
    "name": "Stato: allarme",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "ATTENZIONE: potenza sopra soglia",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "iot/lab/power/status",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1260,
    "y": 100,
    "wires": [
      [
        "ui_text_status",
        "mqtt_out_status"
      ]
    ]
  },
  {
    "id": "change_status_ok",
    "type": "change",
    "z": "tab_iot_lab",
    "name": "Stato: normale",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "OK: potenza entro soglia",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "iot/lab/power/status",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1260,
    "y": 140,
    "wires": [
      [
        "ui_text_status",
        "mqtt_out_status"
      ]
    ]
  },
  {
    "id": "mqtt_out_status",
    "type": "mqtt out",
    "z": "tab_iot_lab",
    "name": "Pubblica stato MQTT",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt_broker_local",
    "x": 1540,
    "y": 120,
    "wires": []
  },
  {
    "id": "change_active_power_value",
    "type": "change",
    "z": "tab_iot_lab",
    "name": "Estrai active_power_w",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.active_power_w",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1010,
    "y": 220,
    "wires": [
      [
        "ui_gauge_active_power"
      ]
    ]
  },
  {
    "id": "change_voltage_value",
    "type": "change",
    "z": "tab_iot_lab",
    "name": "Estrai voltage_v",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.voltage_v",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 990,
    "y": 280,
    "wires": [
      [
        "ui_gauge_voltage"
      ]
    ]
  },
  {
    "id": "fn_build_detail_text",
    "type": "function",
    "z": "tab_iot_lab",
    "name": "Testo dettaglio dashboard",
    "func": "const p = msg.payload;\nmsg.payload = `V=${p.voltage_v}V | I=${p.current_a}A | PF=${p.power_factor} | P=${p.active_power_w}W`;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1010,
    "y": 340,
    "wires": [
      [
        "ui_text_details"
      ]
    ]
  },
  {
    "id": "ui_gauge_active_power",
    "type": "ui_gauge",
    "z": "tab_iot_lab",
    "name": "Gauge Potenza Attiva",
    "group": "ui_group_power",
    "order": 1,
    "width": "6",
    "height": "4",
    "gtype": "gage",
    "title": "Potenza Attiva",
    "label": "W",
    "format": "{{value}}",
    "min": 0,
    "max": "2000",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "800",
    "seg2": "1200",
    "className": "",
    "x": 1290,
    "y": 220,
    "wires": []
  },
  {
    "id": "ui_gauge_voltage",
    "type": "ui_gauge",
    "z": "tab_iot_lab",
    "name": "Gauge Tensione",
    "group": "ui_group_power",
    "order": 2,
    "width": "6",
    "height": "4",
    "gtype": "gage",
    "title": "Tensione",
    "label": "V",
    "format": "{{value}}",
    "min": "200",
    "max": "240",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "210",
    "seg2": "230",
    "className": "",
    "x": 1270,
    "y": 280,
    "wires": []
  },
  {
    "id": "ui_text_status",
    "type": "ui_text",
    "z": "tab_iot_lab",
    "group": "ui_group_status",
    "order": 1,
    "width": "12",
    "height": "1",
    "name": "Indicatore soglia",
    "label": "Stato",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 1540,
    "y": 180,
    "wires": []
  },
  {
    "id": "ui_text_details",
    "type": "ui_text",
    "z": "tab_iot_lab",
    "group": "ui_group_status",
    "order": 2,
    "width": "12",
    "height": "1",
    "name": "Dettaglio misure",
    "label": "Ultima misura",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 1280,
    "y": 340,
    "wires": []
  },
  {
    "id": "ui_text_raw",
    "type": "ui_text",
    "z": "tab_iot_lab",
    "group": "ui_group_status",
    "order": 3,
    "width": "12",
    "height": "1",
    "name": "Indicatore raw",
    "label": "Ultimo raw",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 990,
    "y": 20,
    "wires": []
  },
  {
    "id": "ui_text_alarm",
    "type": "ui_text",
    "z": "tab_iot_lab",
    "group": "ui_group_status",
    "order": 4,
    "width": "12",
    "height": "1",
    "name": "Indicatore ultimo allarme",
    "label": "Ultimo allarme",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 1780,
    "y": 20,
    "wires": []
  },
  {
    "id": "inject_tapo_poll",
    "type": "inject",
    "z": "tab_tapo_lab",
    "name": "Poll stato lampadina (15s)",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "15",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 190,
    "y": 100,
    "wires": [
      [
        "tapo_status_node"
      ]
    ]
  },
  {
    "id": "ui_switch_tapo_power",
    "type": "ui_switch",
    "z": "tab_tapo_lab",
    "name": "Switch lampadina",
    "label": "Lampadina ON/OFF",
    "tooltip": "",
    "group": "ui_group_tapo_control",
    "order": 1,
    "width": "6",
    "height": "1",
    "passthru": true,
    "decouple": "false",
    "topic": "",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "animate": false,
    "className": "",
    "x": 180,
    "y": 180,
    "wires": [
      [
        "switch_tapo_power"
      ]
    ]
  },
  {
    "id": "switch_tapo_power",
    "type": "switch",
    "z": "tab_tapo_lab",
    "name": "Instrada ON/OFF",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "false"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 420,
    "y": 180,
    "wires": [
      [
        "tapo_turn_on_node"
      ],
      [
        "tapo_turn_off_node"
      ]
    ]
  },
  {
    "id": "tapo_turn_on_node",
    "type": "tplink_turn_on",
    "z": "tab_tapo_lab",
    "name": "Tapo ON",
    "deviceIp": "",
    "deviceAlias": "",
    "deviceIpRange": "",
    "searchMode": "ip",
    "x": 640,
    "y": 160,
    "wires": [
      [
        "delay_tapo_refresh"
      ]
    ]
  },
  {
    "id": "tapo_turn_off_node",
    "type": "tplink_turn_off",
    "z": "tab_tapo_lab",
    "name": "Tapo OFF",
    "deviceIp": "",
    "deviceAlias": "",
    "deviceIpRange": "",
    "searchMode": "ip",
    "x": 640,
    "y": 200,
    "wires": [
      [
        "delay_tapo_refresh"
      ]
    ]
  },
  {
    "id": "ui_slider_tapo_brightness",
    "type": "ui_slider",
    "z": "tab_tapo_lab",
    "name": "Brightness lampadina",
    "label": "Brightness",
    "tooltip": "",
    "group": "ui_group_tapo_control",
    "order": 2,
    "width": "12",
    "height": "1",
    "passthru": true,
    "outs": "end",
    "topic": "",
    "min": 1,
    "max": "100",
    "step": 1,
    "className": "",
    "x": 190,
    "y": 260,
    "wires": [
      [
        "fn_tapo_brightness_payload"
      ]
    ]
  },
  {
    "id": "fn_tapo_brightness_payload",
    "type": "function",
    "z": "tab_tapo_lab",
    "name": "Payload brightness",
    "func": "const value = Math.max(1, Math.min(100, Number(msg.payload || 1)));\nmsg.payload = { brightness: value };\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 260,
    "wires": [
      [
        "tapo_brightness_node"
      ]
    ]
  },
  {
    "id": "tapo_brightness_node",
    "type": "tplink_brightness",
    "z": "tab_tapo_lab",
    "name": "Tapo Brightness",
    "deviceIp": "",
    "deviceAlias": "",
    "deviceIpRange": "",
    "searchMode": "ip",
    "x": 650,
    "y": 260,
    "wires": [
      [
        "delay_tapo_refresh"
      ]
    ]
  },
  {
    "id": "delay_tapo_refresh",
    "type": "delay",
    "z": "tab_tapo_lab",
    "name": "Attendi sync device",
    "pauseType": "delay",
    "timeout": "2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 890,
    "y": 200,
    "wires": [
      [
        "tapo_status_node"
      ]
    ]
  },
  {
    "id": "tapo_status_node",
    "type": "tplink_status",
    "z": "tab_tapo_lab",
    "name": "Stato Tapo",
    "deviceIp": "",
    "deviceAlias": "",
    "deviceIpRange": "",
    "searchMode": "ip",
    "x": 1110,
    "y": 140,
    "wires": [
      [
        "fn_tapo_status_text",
        "fn_tapo_brightness_value",
        "fn_tapo_state_to_mqtt",
        "debug_tapo_status"
      ]
    ]
  },
  {
    "id": "fn_tapo_status_text",
    "type": "function",
    "z": "tab_tapo_lab",
    "name": "Testo stato lampadina",
    "func": "const info = msg.payload?.tapoDeviceInfo || {};\nconst isOn = info.device_on === true;\nconst brightness = info.brightness ?? \"-\";\nmsg.payload = `Lampadina ${isOn ? \"ON\" : \"OFF\"} | Brightness=${brightness}`;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1360,
    "y": 100,
    "wires": [
      [
        "ui_text_tapo_status"
      ]
    ]
  },
  {
    "id": "fn_tapo_brightness_value",
    "type": "function",
    "z": "tab_tapo_lab",
    "name": "Valore brightness dashboard",
    "func": "const info = msg.payload?.tapoDeviceInfo || {};\nconst value = Number(info.brightness ?? 0);\nif (!Number.isFinite(value)) {\n  return null;\n}\nmsg.payload = Math.max(1, Math.min(100, value));\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1380,
    "y": 160,
    "wires": [
      [
        "ui_gauge_tapo_brightness"
      ]
    ]
  },
  {
    "id": "fn_tapo_state_to_mqtt",
    "type": "function",
    "z": "tab_tapo_lab",
    "name": "Payload stato Tapo MQTT",
    "func": "const info = msg.payload?.tapoDeviceInfo || {};\nmsg.topic = \"iot/lab/tapo/l530/status\";\nmsg.payload = {\n  device_on: info.device_on ?? null,\n  brightness: info.brightness ?? null,\n  model: info.model ?? null,\n  ip: info.ip ?? null,\n  timestamp: new Date().toISOString()\n};\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1360,
    "y": 220,
    "wires": [
      [
        "mqtt_out_tapo_status"
      ]
    ]
  },
  {
    "id": "mqtt_out_tapo_status",
    "type": "mqtt out",
    "z": "tab_tapo_lab",
    "name": "Pubblica stato Tapo MQTT",
    "topic": "iot/lab/tapo/l530/status",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "application/json",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt_broker_local",
    "x": 1640,
    "y": 220,
    "wires": []
  },
  {
    "id": "ui_text_tapo_status",
    "type": "ui_text",
    "z": "tab_tapo_lab",
    "group": "ui_group_tapo_status",
    "order": 1,
    "width": "12",
    "height": "1",
    "name": "Stato lampadina Tapo",
    "label": "Stato L530",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 1640,
    "y": 100,
    "wires": []
  },
  {
    "id": "ui_gauge_tapo_brightness",
    "type": "ui_gauge",
    "z": "tab_tapo_lab",
    "name": "Gauge brightness Tapo",
    "group": "ui_group_tapo_status",
    "order": 2,
    "width": "6",
    "height": "4",
    "gtype": "gage",
    "title": "Brightness L530",
    "label": "%",
    "format": "{{value}}",
    "min": "1",
    "max": "100",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "40",
    "seg2": "75",
    "className": "",
    "x": 1640,
    "y": 160,
    "wires": []
  },
  {
    "id": "debug_tapo_status",
    "type": "debug",
    "z": "tab_tapo_lab",
    "name": "Debug stato Tapo",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1370,
    "y": 280,
    "wires": []
  }
]
